.main-c {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-x: auto; /* Permite el desplazamiento horizontal en el contenedor principal */
}

.b-table {
    padding: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.545);
    border-radius: 8px;
    overflow: hidden; /* Para que los bordes redondeados se apliquen */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    min-width: 600px; /* Evita que la tabla se encoja demasiado */
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #545854; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de filas pares */
}

tr:hover {
    background-color: #ddd; /* Color al pasar el mouse */
}

tbody tr {
    transition: background-color 0.3s; /* Efecto suave al cambiar de color */
}

.b-headers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.b-headers h2 {
    font-weight: bold;
    font-size: 2rem; /* Tamaño de fuente ajustado */
    margin: 0;
}

.b-headers p {
    font-size: 1rem; /* Tamaño de fuente ajustado */
    color: #909190;
    margin: 0;
}

.b-btns {
    margin: 20px 0; /* Corregido de 20x a 20px */
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    th, td {
        font-size: 0.9rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
        padding: 10px; /* Reduce el padding para más espacio */
    }

    .b-headers h2 {
        font-size: 1.5rem; /* Ajusta el tamaño del encabezado en pantallas pequeñas */
    }

    .b-headers p {
        font-size: 0.9rem; /* Ajusta el tamaño del texto en pantallas pequeñas */
    }

    .b-btns {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
    }
}
