.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    padding: 0 10px;

}


.main-card{
    border-radius: 28px;
    border: none;
    display: flex;
    flex-direction: column;
    max-width: 580px;
    max-height: 570px;
    width: 100%;
    height: 100%;
    padding: 30px;
    align-items: center;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.5);


    .l-card {
        width: 110px;
        height: 110px;
        border-radius: 8px;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
        
        display: flex;
        flex-direction: column; /* Cambiado a columna */
        align-items: center; 
        justify-content: center;
    }
    
    .l-card img {
        width: 64px;
        height: 64px;
    }
    

    .h-titles{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;

        h1{
            font-size: clamp(1.563rem, 1.25rem + 1vi, 1.875rem);
            color: #000000;
            text-align: center;
            font-weight: 800;
            margin: 0;
        }

        h4{
            width: 100%;
            line-height: 1.35;
            max-width: 300px;
            font-weight: normal;
            text-align: center;
            font-size: clamp(0.75rem, 0.438rem + 1vi, 1.063rem);
            margin: 0;
            color: #8a8a8a;
        }
    }

}


.container{
    margin-top: 40px;
    display: flex;
    gap: 15px;
    flex-direction: column;

    .inputs{
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;


        .input-container {
            position: relative;
            display: flex;
            align-items: center;
        }
        
        .input-container i {
            position: absolute;
            left: 15px; /* Ajusta según sea necesario */
            color: #888; /* Color del ícono */
        }
        
        .input-container input {
            padding-left: 35px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 8px;
            border-radius: 24px;
            width: 100%; 
            border:  1px solid #a7a7a7;
        }

    }

}


.boton{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    button{
        border-radius: 24px;
        padding: 10px 15px;
        color: #ffffff;
        background-color: rgb(88, 88, 255);
        outline: none;
        border: 1px solid rgb(88, 88, 255);
        max-width: 150px;
        width: 100%;
        box-shadow: 2px 4px 6px rgb(88, 88, 255);

        &:hover{
            background-color: rgb(8, 8, 143);
            box-shadow: 4px 6px 8px rgb(8, 8, 143);
            border:  1px solid rgb(8, 8, 143);;
        }
    }

    button:disabled {
        background-color: rgb(200, 200, 200);
        color: #666666; 
        border: 1px solid rgb(180, 180, 180); 
        box-shadow: none; 
        cursor: not-allowed; 
    }


}
